In [2]:
import pandas as pd

Historical Data

In [4]:
historicalDf = pd.read_csv('TSLA_historical.csv')
print(historicalDf.head(10))

         Date       Open       High        Low      Close  Adj Close  \
0  2018-10-19  17.826000  17.977333  16.900000  17.333332  17.333332
1  2018-10-22  17.378668  17.457333  16.839333  17.396667  17.396667
2  2018-10-23  17.591333  19.862000  17.473333  19.609333  19.609333
3  2018-10-24  20.070000  20.296000  19.048668  19.233334  19.233334
4  2018-10-25  21.148001  21.400000  20.067333  20.990667  20.990667
5  2018-10-26  20.549999  22.660000  20.443333  22.059999  22.059999
6  2018-10-29  22.497999  23.143999  21.766666  22.323334  22.323334
7  2018-10-30  21.892668  22.526667  21.483999  21.993334  21.993334
8  2018-10-31  22.169333  22.799999  21.940001  22.488001  22.488001
9  2018-11-01  22.550667  23.189333  22.315332  22.952000  22.952000

      Volume
0  140632500
1   84004500
2  285417000
3  300874500
4  312610500
5  411382500
6  217290000
7  136900500
8  114364500
9  120001500

Balance Sheet

In [5]:
balanceSheetDF = pd.read_csv('TSLA_balance_sheet.csv')
print(balanceSheetDF.head(10))

                                         Breakdown  12/30/2022  12/30/2021  \
0                                     Total Assets  82,338,000  62,131,000
1                                   Current Assets  40,917,000  27,100,000
2  Cash, Cash Equivalents & Short Term Investments  22,185,000  17,707,000
3                        Cash And Cash Equivalents  22,185,000  17,576,000
4                     Other Short Term Investments   5,932,000     131,000
5                                      Receivables   2,952,000   1,913,000
6                              Accounts receivable   2,952,000   1,913,000
7                                        Inventory  12,839,000   5,757,000
8                                    Raw Materials   6,137,000   2,816,000
9                                  Work in Process   2,385,000   1,089,000

   12/30/2020  12/30/2019
0  52,148,000  34,309,000
1  26,717,000  12,103,000
2  19,384,000   6,268,000
3  19,384,000   6,268,000
4           -           -
5   1,886,000   1,324,000
6   1,886,000   1,324,000
7   4,101,000   3,552,000
8   1,508,000   1,428,000
9     493,000     362,000

Cash Flow

In [6]:
cashFlowDf = pd.read_csv('TSLA_cash_flow.csv')
print(cashFlowDf.head(10))

                                        Breakdown         ttm  12/30/2022  \
0                             Operating Cash Flow  13,956,000  14,724,000
1  Cash Flow from Continuing Operating Activities  13,956,000  14,724,000
2           Net Income from Continuing Operations  12,191,000  12,587,000
3                          Operating Gains Losses    -116,000     221,000
4                        Gain Loss On Sale of PPE      34,000     140,000
5         Net Foreign Currency Exchange Gain Loss    -150,000      81,000
6             Depreciation Amortization Depletion   4,145,000   3,747,000
7                     Depreciation & amortization   4,145,000   3,747,000
8                                    Depreciation   4,145,000   3,747,000
9                         Asset Impairment Charge     336,000     177,000

   12/30/2021 12/30/2020 12/30/2019
0  11,497,000  5,943,000  2,405,000
1  11,497,000  5,943,000  2,405,000
2   5,644,000    862,000   -775,000
3     -82,000    231,000     98,000
4     -27,000    117,000    146,000
5     -55,000    114,000    -48,000
6   2,911,000  2,322,000  2,154,000
7   2,911,000  2,322,000  2,154,000
8   2,911,000          -          -
9     140,000    202,000    193,000

Income Statemetn

In [7]:
incomeStatementDf = pd.read_csv('TSLA_income_statement.csv')
print(incomeStatementDf.head(10))

                                   Breakdown         ttm  12/30/2022  \
0                              Total Revenue  94,028,000  81,462,000
1                            Cost of Revenue  73,825,000  60,609,000
2                               Gross Profit  20,203,000  20,853,000
3                          Operating Expense   7,517,000   7,021,000
4                           Operating Income  12,686,000  13,832,000
5  Net Non Operating Interest Income Expense     551,000     106,000
6                       Other Income Expense     119,000    -219,000
7                              Pretax Income  13,356,000  13,719,000
8                              Tax Provision   1,165,000   1,132,000
9             Net Income Common Stockholders  12,235,000  12,583,000

   12/30/2021  12/30/2020  12/30/2019
0  53,823,000  31,536,000  24,578,000
1  40,217,000  24,906,000  20,509,000
2  13,606,000   6,630,000   4,069,000
3   7,110,000   4,636,000   3,989,000
4   6,496,000   1,994,000      80,000
5    -315,000    -718,000    -641,000
6     162,000    -122,000    -104,000
7   6,343,000   1,154,000    -665,000
8     699,000     292,000     110,000
9   5,519,000     690,000    -862,000

In [10]:
crudeOilDf = pd.read_csv('Crude_oil_historical.csv')
DJIHistoricalDf = pd.read_csv('DJI_historical.csv')
goldHistoricalDf = pd.read_csv('gold_historical.csv')
silverHistoricalDf = pd.read_csv('silver_historical.csv')
NasdaqHistoricalDf = pd.read_csv('Nasdaq_historical.csv')
SPHistoricalDf = pd.read_csv('S&P_historical.csv')

print(crudeOilDf.head(10))
print(DJIHistoricalDf.head(10))
print(goldHistoricalDf.head(10))
print(silverHistoricalDf.head(10))
print(NasdaqHistoricalDf.head(10))
print(SPHistoricalDf.head(10))

         Date       Open       High        Low      Close  Adj Close  Volume
0  2018-10-22  69.410004  69.650002  68.269997  69.169998  69.169998  513770
1  2018-10-23  69.550003  69.660004  65.739998  66.430000  66.430000  853265
2  2018-10-24  66.169998  67.720001  66.050003  66.820000  66.820000  775963
3  2018-10-25  66.360001  67.650002  65.989998  67.330002  67.330002  573096
4  2018-10-26  66.949997  67.879997  66.199997  67.589996  67.589996  595211
5  2018-10-29  67.550003  67.949997  66.290001  67.040001  67.040001  477487
6  2018-10-30  66.680000  67.260002  65.330002  66.180000  66.180000  680441
7  2018-10-31  66.320000  67.000000  64.809998  65.309998  65.309998  666487
8  2018-11-01  64.879997  65.389999  63.110001  63.689999  63.689999  790286
9  2018-11-02  63.500000  63.950001  62.630001  63.139999  63.139999  708906
         Date          Open          High           Low         Close  \
0  2018-10-22  25492.140625  25561.339844  25236.050781  25317.410156
1  2018-10-23  25038.460938  25307.699219  24768.789063  25191.429688
2  2018-10-24  25172.880859  25306.230469  24533.189453  24583.419922
3  2018-10-25  24736.539063  25104.289063  24645.560547  24984.550781
4  2018-10-26  24770.250000  24916.160156  24445.189453  24688.310547
5  2018-10-29  24818.980469  25040.580078  24122.230469  24442.919922
6  2018-10-30  24482.039063  24906.679688  24415.689453  24874.640625
7  2018-10-31  25008.820313  25336.550781  25008.820313  25115.759766
8  2018-11-01  25142.080078  25396.470703  25108.109375  25380.740234
9  2018-11-02  25443.599609  25578.980469  25078.720703  25270.830078

      Adj Close     Volume
0  25317.410156  314940000
1  25191.429688  436430000
2  24583.419922  496400000
3  24984.550781  439670000
4  24688.310547  505310000
5  24442.919922  443850000
6  24874.640625  470050000
7  25115.759766  448930000
8  25380.740234  383970000
9  25270.830078  429480000
         Date         Open         High          Low        Close  \
0  2018-10-22  1224.500000  1224.500000  1219.599976  1221.199951
1  2018-10-23  1224.800049  1237.800049  1224.800049  1233.400024
2  2018-10-24  1231.599976  1231.599976  1227.800049  1227.800049
3  2018-10-25  1238.599976  1238.599976  1229.099976  1229.099976
4  2018-10-26  1234.300049  1234.800049  1232.500000  1232.500000
5  2018-10-29  1224.500000  1224.500000  1224.500000  1224.500000
6  2018-10-30  1227.699951  1227.699951  1219.800049  1222.599976
7  2018-10-31  1216.000000  1216.599976  1212.000000  1212.300049
8  2018-11-01  1215.400024  1236.000000  1215.400024  1236.000000
9  2018-11-02  1233.300049  1233.300049  1230.900024  1230.900024

     Adj Close  Volume
0  1221.199951      18
1  1233.400024      33
2  1227.800049      36
3  1229.099976       7
4  1232.500000      20
5  1224.500000     214
6  1222.599976      72
7  1212.300049     121
8  1236.000000      14
9  1230.900024      18
         Date    Open    High     Low   Close  Adj Close  Volume
0  2018-10-22  14.522  14.522  14.522  14.522     14.522     110
1  2018-10-23  14.728  14.728  14.728  14.728     14.728       2
2  2018-10-24  14.665  14.665  14.611  14.611     14.611      33
3  2018-10-25  14.565  14.565  14.565  14.565     14.565       0
4  2018-10-26  14.635  14.635  14.635  14.635     14.635       0
5  2018-10-29  14.377  14.377  14.377  14.377     14.377     101
6  2018-10-30  14.460  14.460  14.340  14.403     14.403     428
7  2018-10-31  14.420  14.420  14.229  14.229     14.229      14
8  2018-11-01  14.729  14.729  14.729  14.729     14.729      11
9  2018-11-02  14.707  14.707  14.707  14.707     14.707       3
         Date         Open         High          Low        Close  \
0  2018-10-22  7486.740234  7520.540039  7424.740234  7468.629883
1  2018-10-23  7328.549805  7472.580078  7260.129883  7437.540039
2  2018-10-24  7423.209961  7435.689941  7099.000000  7108.399902
3  2018-10-25  7197.490234  7364.819824  7178.540039  7318.339844
4  2018-10-26  7125.180176  7283.319824  7057.000000  7167.209961
5  2018-10-29  7272.419922  7295.609863  6922.830078  7050.290039
6  2018-10-30  7017.870117  7166.839844  7001.479980  7161.649902
7  2018-10-31  7276.620117  7368.490234  7270.629883  7305.899902
8  2018-11-01  7327.819824  7435.879883  7286.500000  7434.060059
9  2018-11-02  7424.020020  7466.529785  7298.680176  7356.990234

     Adj Close      Volume
0  7468.629883  2301010000
1  7437.540039  2752010000
2  7108.399902  2959560000
3  7318.339844  2788090000
4  7167.209961  2971530000
5  7050.290039  2711900000
6  7161.649902  2699220000
7  7305.899902  2918880000
8  7434.060059  2728760000
9  7356.990234  2899670000
         Date         Open         High          Low        Close  \
0  2018-10-22  2773.939941  2778.939941  2749.219971  2755.879883
1  2018-10-23  2721.030029  2753.590088  2691.429932  2740.689941
2  2018-10-24  2737.870117  2742.590088  2651.889893  2656.100098
3  2018-10-25  2674.879883  2722.699951  2667.840088  2705.570068
4  2018-10-26  2667.860107  2692.379883  2628.159912  2658.689941
5  2018-10-29  2682.649902  2706.850098  2603.540039  2641.250000
6  2018-10-30  2640.679932  2685.429932  2635.340088  2682.629883
7  2018-10-31  2705.600098  2736.689941  2705.600098  2711.739990
8  2018-11-01  2717.580078  2741.669922  2708.850098  2740.370117
9  2018-11-02  2745.449951  2756.550049  2700.439941  2723.060059

     Adj Close      Volume
0  2755.879883  3331270000
1  2740.689941  4373710000
2  2656.100098  4738670000
3  2705.570068  4663930000
4  2658.689941  4804330000
5  2641.250000  4701260000
6  2682.629883  5125600000
7  2711.739990  5133380000
8  2740.370117  4730250000
9  2723.060059  4261230000